#SPDX-License-Identifier: MIT-0
---
# tasks file for security_group

- name: Create Security Group
  amazon.aws.ec2_group:
    name: "{{ security_group_name }}"
    description: "{{ description }}"
    vpc_id: "{{ vpc_id }}"
    region: "{{ aws_region }}"
    rules:
      - proto: tcp
        from_port: 22
        to_port: 22
        cidr_ip: 0.0.0.0/0
      - proto: tcp
        from_port: 80
        to_port: 80
        cidr_ip: 0.0.0.0/0
      - proto: tcp
        from_port: 443
        to_port: 443
        cidr_ip: 0.0.0.0/0
    tags: "{{ sg_tags }}"
  register: result_security_group

- name: Display Security Group ID
  debug:
    msg: "Security Group ID is {{ result_security_group.group_id }}"

